.add__input {
  width: 96%;
  height: 50px;
  box-shadow: 0px 0px 4px 2px #e1e1e1;
  margin: auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addIcon {
  color: rgb(35, 161, 73);
  font-size: 40px;
}
.add__input input {
  display: block;
  height: 60%;
  width: 80%;
  border-radius: 5px;
  border: 2px solid rgb(35, 161, 73);
  font-size: 18px;
  outline: none;
}
