@import url("./styles/Main.css");
@import url("./styles/Timer.css");
@import url("./styles/WebsiteRow.css");
@import url("./styles/AppBar.css");
@import url("./styles/AddInput.css");
.App {
  text-align: center;
  display: block;
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
}

.icon {
  cursor: pointer;
}
